.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #009de6;

    height: 80vh;
    width: 100%;
    padding: 2rem;
}

.nomeDev{
    font-size: 1.7rem;
}

.QuemSouEu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.QuemSouEu .imgBreno img{
    transition: all 2s ease-out;
    height: 300px;
}

.imgBreno img:hover{
    transform: scale(1.05);
    transition-duration: 2s;
    transition: .3;
    transform: rotatez(360deg); 
}

.cards{
    display: flex;
    justify-content: space-around;
    
}

.cards div{
    text-align: center;
    border-radius: 17px;
    box-shadow: 7px 7px 13px 0px rgba(31, 31, 31, 0.7);
    padding: 20px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    background-color: #37e1ff;
    
}

.cards div:hover{
    transform: scale(1.1);
    transition-duration: .4s;
    transition: .3;
}

.cards div .formacao, .tecnologias, .projeto{
    padding-top: 20px;
    font-size: 20px;
}

.formacao span, .tecnologias span, .projetos span{
    color: black;
    font-weight: bold;
    font-size: 1.7rem;
}

.projetos a{
    text-decoration: none;
    color: white;
}

.formacao p, .tecnologias p, .projetos p  {
    padding-top: 20px;
    font-size: 20px;
} 

.formacao img, .tecnologias img, .projetos img{
    height: 50px;
}

.projetos a span {
    font-size: 15px;
    color: red;
}

.projetos p:hover{
    transform: scale(1.2);
    transition-duration: .4s;
    transition: .3;   
    color: red;
}

.formacao p span {
    font-size: 15px;
    color: red;
}

@media (max-width: 1320px){
    .cards div {
        width: 300px;
        
    }
}

@media (max-width: 1050px){
    .QuemSouEu .imgBreno img {
        height: 250px;
    }

    .cards div {
        width: 230px;
    }
}

@media (max-width: 900px){

    .main{
        height: 1400px;
    }
    .QuemSouEu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nomeDev{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .cards div{
        width: 400px;
        height: 300px;
    }

    .main {
        height: 1500px;
    }
}